/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Migra";
    src: url("./../assets/fonts/Migra-Extralight-webfont.woff2"),
        url("./../assets/fonts/Migra-Extralight-webfont.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Migra";
    src: url("./../assets/fonts/Migra-Extrabold-webfont.woff2"),
        url("./../assets/fonts/Migra-Extrabold-webfont.woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Migra";
    src: url("./../assets/fonts/migraitalic-extralightitalic-webfont.woff2"),
        url("./../assets/fonts/migraitalic-extralightitalic-webfont.woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Migra";
    src: url("./../assets/fonts/migraitalic-extrabolditalic-webfont.woff2"),
        url("./../assets/fonts/migraitalic-extrabolditalic-webfont.woff");
    font-weight: bold;
    font-style: italic;
} ;
